body,h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
    padding: 0;
    font-size: 12px;    
}   
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000000;
}   

@media (max-width:799px){
    /* 스마트 폰 용 스타일 */
    #header{
        display: none;
    }
    .fixed{
        position: fixed;
        top :0px;
    }
    #mobile-header{
        /* z-index: 4; */
        background-color: #ddd;
        width:100%;
    }
    #mobile-header #gnb{
        display: flex;
    }
    #mobile-header #gnb .menu-trigger{
        flex:0.5;
        text-align: center;
        position: relative;
        left: 5px;
        top:5px;
    }
    #mobile-header #gnb .menu-trigger i{
        font-size: 2em;
        padding: 10px;
    }
    #mobile-header #gnb .logo{
        flex:2;
        text-align: center;
    }
    #mobile-header #gnb .logo img{
        width :80%;
    }
    #mobile-header #gnb .left-icons{
        flex:1;
    }
    #mobile-header #gnb .left-icons ul{
        text-align: center;
        position: relative;
        top:20px;
        right: 20px;
    }
    #mobile-header #gnb .left-icons ul li{
        display: inline-block;
        padding-left: 10px;
    }
    #nav{
        display: none;
    }
    #side-nav{
        height:100%;
        width: 0;
        position: fixed;
        z-index:1;
        top: 0;
        left: 0;
        background-color: white;
        overflow-x: hidden;
        transition:0.5s ease-in-out;
        padding-top: 60px;
    }
    #side-nav li a {
        padding: 8px 8px 8px 32px;
        font-size: 25px;
        color: rgba(33,33,33,1);
        display: block;
        transition: 0.2s ease-in-out;
    }
    #side-nav ul li a:hover, .offcanvas a:focus {
        color: rgb(255, 196, 0);
    }
    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 25px !important;
        margin-left: 50px;
    }
    .menu-trigger:hover {
        color:rgb(255, 196, 0);
        transition:0.5s ease-in-out;
    }
    .menu-trigger {
        font-size: 25px;
        cursor:pointer;
        transition:0.5s ease-in-out;
    }
    .menu-trigger > i {
        font-size: 30px;
    }

}
@media only screen and (min-width : 800px) and (max-width:1023px){
    /* 태블릿 PC 용 스타일 */
}
@media only screen and (min-width : 1024px){
    /* 데스크탑 PC */
    #mobile-header{
        display: none;
    }
    #side-nav{
        display: none;
    }
    #gnb {
        width: 80%;
        margin: 0 auto;
    }
    #gnb .top {
        text-align: right;
    }
    #gnb .top ul{
        /* padding-right: 50px; */
    }
    #gnb .top ul li {
        display: inline-block;
        text-align: center;
        font-size: 0.8em;
    }
    #gnb .bottom {
        display: flex;
        border-bottom: solid 3px navy;
    }
    #gnb .bottom div {
        flex: 1;
    }
    #gnb .bottom .content {
        text-align: right;
        padding-top: 20px;
        /* padding-right: 50px; */
    }
    #gnb .bottom .content p{
        font-size: 1.1em;
    }
    #nav ul {
        display: flex;
        width: 80%;
        margin: 0 auto;
    }
    #nav ul li{
        flex : 1;
        text-align: center;
        padding: 10px 0;
    }
    #nav ul li:hover{
        background-color: navy;
        color: #ffffff;
    }
    #nav ul li:hover a{
        color: #ffffff;
    }
    #slide-tabs .panel{
        position: relative;
        z-index: -10;
        margin-bottom: 0;
    }
    #slide-tabs .panel img{
        width :100%;
        height: 700px;
    }
    #slide-tabs .panel .panel-content{
        position: absolute;
        top:200px;
        left : 150px;
        border: 2px solid #244371;
        background-color: #244371;
        padding: 80px 50px;
        opacity: 0.7;
    }
    #slide-tabs .panel .panel-content h1{
        font-size: 1.2em;
        color: #ddd;
    }
    #slide-tabs .panel .panel-content p{
        font-size: 1.1em;
        color: #ffffff;
    }
    #slide-tabs .panel-tabs {
        position: relative;
        bottom: 5px;
        width:80%;
        margin:0 auto;
    }
    #slide-tabs .panel-tabs ul{
        display: flex;
        border-bottom: solid 3px navy;
    }
    #slide-tabs .panel-tabs ul li{
        flex : 1;
        text-align: center;
        padding: 10px 0;
    }
    #slide-tabs .panel-tabs ul li:hover{
        background-color: navy;
        color: #ffffff;
    }
    #slide-tabs .panel-tabs ul li:hover a{
        color: #ffffff;
    }
    



    #footer{
        width:100%;
        background-color: #f2f4f7;
    }
    #footer .qn{
        width : 80%;
        margin : 0 auto;
    }
    #footer .qn ul{
        display: flex;
    }
    #footer .qn ul li{
        flex:1;
        text-align: center;
    }
    #footer .qn ul li img{
        width:150px;
    }
    #footer #footer-copyrights{
        display: flex;
        width:80%;
        margin:0 auto;
    }
    #footer #footer-copyrights .footer-contents{
        flex :7;
    }
    #footer #footer-copyrights .footer-img{
        flex :3;
    }
}